<header class="header" th:fragment="header">
    <button class="header-navbar-button">
        <i class="bi bi-list"></i>
    </button>
    <a href=""><img class="header-logo" src="assets/logo-black.png" alt=""></a>
    <!-- Si el usuario está autenticado, mostrar el menú de usuario -->
    <button class="header-user-button" th:if="${#authorization.expression('isAuthenticated()')}">
        <i class="bi bi-person"></i>
    </button>
    <!-- Si el usuario no está autenticado, mostrar el menú de inicio de autenticación -->
    <button class="header-auth-button" th:if="${#authorization.expression('!isAuthenticated()')}">
        <i class="bi bi-box-arrow-in-right"></i>
    </button>
</header>

<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-list-item"><a class="navbar-link" href="">Home</a></li>
        <li class="navbar-list-item"><a class="navbar-link" href="">Products</a></li>
        <li class="navbar-list-item"><a class="navbar-link" href="">About</a></li>
        <li class="navbar-list-item"><a class="navbar-link" href="">Contact</a></li>
    </ul>
</nav>