<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Inicio</title>
    <!-- FontAwesome Icons-->
    <script src="https://kit.fontawesome.com/1f6f2e3d37.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav th:replace="common/fragments :: navOverlay"></nav>
    <div th:replace="common/fragments :: authOverlay"></div>
    <div th:replace="common/fragments :: accountOverlay"></div>
    <header th:replace="common/fragments :: header"></header>

    <main class="main">
        
        <h1 class="title">ADMIN PANEL</h1>

    </main>
    
    <footer class="footer" th:replace="common/fragments :: footer"></footer>

    <!-- JavaScript -->
    <script src="/scripts/overlay.js"></script>
    <script src="/scripts/carousel.js"></script>
</body>
</html>