# Base de Datos PostgreSQL
# SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/zero-shop?currentSchema=public
# SPRING_DATASOURCE_USERNAME=postgres
# SPRING_DATASOURCE_PASSWORD=root

# Credenciales de Correo (Spring Mail / Gmail SMTP)
# Para Gmail, debes generar una "Contraseña de Aplicación" de 16 caracteres:
# Cuenta de Google -> Seguridad -> Verificación en 2 pasos -> Contraseñas de aplicaciones
MAIL_USERNAME=email@example.com
MAIL_PASSWORD=xxxx xxxx xxxx xxxx

# Mercado Pago SDK
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
APP_BASE_URL=http://localhost:8080
