<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- FontAwesome Icons-->
    <script src="https://kit.fontawesome.com/1f6f2e3d37.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Header -->
    <header class="header">
        <a href="/" class="header-link"><i class="fa-solid fa-arrow-left"></i> Volver al sitio</a>
    </header>

    <!-- Main Form -->
    <main>
        <form class="auth-form" th:action="@{/register}" method="post">
                <h2 class="auth-form-title">Registrarse</h2>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input class="auth-form-input" id="first-name" name="firstName" type="text" placeholder="Nombre" required>
                <input class="auth-form-input" id="last-name" name="lastName" type="text" placeholder="Apellido" required>
                <input class="auth-form-input" id="email" name="email" type="email" placeholder="E-Mail" required autofocus>
                <input class="auth-form-input" id="password" name="password" type="password" placeholder="Contraseña" required>
                <input class="auth-form-input" id="confirm-password" name="confirmPassword" type="password" placeholder="Confirmar Contraseña" required>
                <button class="auth-form-button" type="submit">Registrarse</button>
                <p class="auth-form-message">¿Ya tienes cuenta? <a th:href="@{/login}">Inicia sesión</a></p>
                <div class="auth-form-logo">
                    <img class="auth-form-logo-image" src="/assets/logo-black.png">
                </div>
        </form>
    </main>
</body>
</html>