<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel del Empleado</title>
</head>
<body>
    <h1>Panel del Empleado</h1>

    <nav>
        <ul>
            <li><a href="/dashboard/employee/desk">Mostrador de Ventas</a></li>
            <li><a href="/dashboard/sale-orders">Ver Órdenes de Clientes</a></li>
            <li><a href="/dashboard/stock">Consultar Stock</a></li>
            <li><a href="/dashboard/products">Catálogo de Productos</a></li>
        </ul>
    </nav>
</body>
</html>

