<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/styles/styles.css">
    <title>Inicio - Zero Sportwear</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <!-- FontAwesome Icons-->
    <script src="https://kit.fontawesome.com/1f6f2e3d37.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <button class="nav-button"><i class="fa-solid fa-bars"></i> Menu</button>
        </nav>
        <div class="logo">
            <img class="logo-image" src="/src/main/resources/static/images/logo.png">
        </div>
        <button class="account-button">
            <i class="fa-solid fa-user"></i>
        </button>
    </header>
    <main class="container">

    </main>
    <footer class="container">
        <p>Proyecto universitario - Zero Sportwear</p>
        <p>Los productos mostrados en la tienda son de caracter ficticio.</p>
        <p>Cualquier compra realizada es solo para fines de demostración.</p>
    </footer>
    <!-- JavaScript -->
    <script src="/src/main/resources/static/scripts/navbar.js"></script>
</body>
</body>
</html>