.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px clamp(20px, 6vw, 72px);
    background-color: white;
    border-bottom: 1px solid var(--lavender-grey);
    position: relative;
    z-index: 10;

    .header-nav-button, .header-account-button {
        height: 48px;
        padding: 8px;
        font-size: 24px;
        color: var(--prussian-blue-3);
        background: none;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: var(--smart-blue);
            transform: translateY(-2px);
        }
    }

    .header-logo {
        display: flex;
        align-items: center;
    }
    
    .header-logo-image {
        height: 42px;
        width: auto;
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }

    .header-link {
        text-decoration: none;
        color: var(--prussian-blue-3);
        font-size: 24px;
        font-weight: 400;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: var(--smart-blue);
        }
    }
}



    

    

    

    