.nav-logo-image {
    height: 50px;
    width: auto;
    transition: all 0.2s ease-in-out;
}

.nav-overlay {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    backdrop-filter: blur(5px);
}

.nav-overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list-item {
    margin: 40px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.nav-link {
    color: white;
    text-decoration: none;
    letter-spacing: 10px;
}

.nav-list-item:hover {
    transform: scale(1.05);
    color: var(--primary);
}

.nav-close-button {
    font-size: 24px;
    border-radius: 50%;
}

.nav-close-button:hover {
    transform: scale(1.05);
    background-color: var(--primary);
}