@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #f8f9fa;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

button {
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
}