@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url("/styles/layout/nav.css");
@import url("/styles/layout/header.css");
@import url("/styles/layout/footer.css");
@import url("/styles/layout/auth-form.css");

:root {
    --light-base: #F0F3FF;
    --dark-base: #211951;
    --primary: #836FFF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #f8f9fa;
    height: 100vh;
}

button {
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
    background-color: var(--primary);
}

.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.product-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.carrousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    justify-content: center;
}

.carrousel-card {
    flex: 0 0 auto;
    width: 300px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.carrousel-card img {
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}